{% extends 'baseAdmin.html.twig' %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset ('assets/css/dataTables.bootstrap4.min.css') }}">
        <link rel="stylesheet" href="{{ asset ('assets/css/buttons.bootstrap4.min.css') }}">
    {% endblock %}

{% block title %}
    All Event
{%  endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>All Event</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="#">Event</a></li>
                        <li class="active">All Events</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
{%  endblock %}

{% block body %}
    {% set flashbag_notices = app.session.flashbag.get('notice') %}
    {% if flashbag_notices is not empty  %}
        {% for notice in flashbag_notices %}
            <div class="container">
                <div class="alert alert-danger " role="alert">
                    <strong>Oops !</strong> {{ notice }} <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}


    {% set flashbag_notices1 = app.session.flashbag.get('notice1') %}
    {% if flashbag_notices1 is not empty  %}
        {% for notice1 in flashbag_notices1 %}
            <div class="container">
                <div class="alert alert-success " role="alert">
                    <strong>OK</strong> {{ notice1 }} <a href="#" class="close" data-dismiss="success" aria-label="close">&times;</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}

    <div class="content mt-3">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <strong class="card-title">List Events </strong>
                        </div>
                        <div class="card-body">
                            <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Creation</th>
                                    <th>Address</th>
                                    <th>Categorie</th>
                                    <th>Organizer</th>
                                    <th>Description</th>
                                    <th>Photo</th>
                                    <th>Status</th>
                                    <th>Operation</th>
                                </tr>
                                </thead>
                                <tbody>

                                {% for a in events %}
                                    <tr>
                                        <td>{{ a.nameEvent }}</td>
                                        <td>{{ a.dateEvent|date ('Y-m-d') }}</td>
                                        <td>{{ a.dateCreationEvent|date ('Y-m-d') }}</td>
                                        <td>{{ a.addressEvent.cityAddress }}, {{ a.addressEvent.addressExact }}</td>
                                        <td>{{ a.categorieEvent.nameCategorie }}</td>
                                        <td>{{ a.adminEvent.username }}</td>
                                        <td>{{ a.descriptionEvent }}</td>
                                        <td><img src="{{ asset('uploads/brochures/' ~ a.photoEvent) }}" alt="{{ a.nameEvent }}" style="width: 70px ; height: 50px" ></td>
                                        <td>
                                            <span class="badge {% if a.statusEvent =="Refused" %}badge-danger{% elseif a.statusEvent =="Approved" %}badge-success{% else %}badge-warning{% endif %}" style="width: 100px;height: 30px">{{ a.statusEvent }}</span>
                                        </td>

                                        <td>
                                            {% if a.statusEvent =="Waiting" %}
                                                <a  href="{{path('approve_event', {id: a.id})}}" class="btn btn-outline-success btn-sm"><i class="fa fa-check-square-o" style="width: 20px;"></i>&nbsp; Approved</a>
                                                <br><br>
                                                <a href="{{path('refuse_event', {id: a.id})}}" class="btn btn-outline-danger btn-sm"><i class="fa fa-times-circle" style="width: 35px"></i>&nbsp;Refused</a>
                                            {% else %}
                                                <a href="{{path('delete_event', {id: a.id})}}" class="btn btn-outline-danger btn-sm"><i class="fa fa-trash-o" style="width: 45px"></i>&nbsp;Delete</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>


            </div>
        </div><!-- .animated -->
    </div><!-- .content -->


{% endblock %}

    {% block javascripts %}
        <script src="{{ asset ('assets/js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset ('assets/js/dataTables.bootstrap4.min.js') }}"></script>
        <script src="{{ asset ('assets/js/dataTables.buttons.min.js') }}"></script>
        <script src="{{ asset ('assets/js/buttons.bootstrap4.min.js') }}"></script>
        <script src="{{ asset ('assets/js/buttons.html5.min.js') }}"></script>
        <script src="{{ asset ('assets/js/buttons.print.min.js') }}"></script>
        <script src="{{ asset ('assets/js/buttons.colVis.min.js') }}"></script>
        <script src="{{ asset ('assets/js/datatables-init.js') }}"></script>
    {% endblock %}
